.nav-line {
  background-color: #fff;
  
  &__list {
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  
  &__link {
    display: block;
    padding: 0 20px;
    line-height: 64px;
    color: #7b7b7b;
    
    &:hover {
      color: $green-l;
    }
  }
}