@font-face {
    font-family: "NimbusSanTConBold";
    src: url("../fonts/NIMBSTB.eot") format("embedded-opentype");
    font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: "NimbusSanTConBold";
    src: url("../fonts/NIMBSTB.TTF") format("opentype");
    font-style: normal;
	font-weight: 400;
}






@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Medium.eot") format("embedded-opentype");
    font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Medium.otf") format('opentype');
    font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Bold.eot") format("embedded-opentype");
    font-style: normal;
	font-weight: 700;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Bold.otf") format('opentype');
    font-style: normal;
	font-weight: 700;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Light.eot") format("embedded-opentype");
    font-style: normal;
	font-weight: 300;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Light.otf") format("opentype");
    font-style: normal;
	font-weight: 300;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-UltraLight.eot") format("embedded-opentype");
    font-style: normal;
	font-weight: 100;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-UltraLight.otf") format("opentype");
    font-style: normal;
	font-weight: 100;
}

